*{
    border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;
}

.barra-menu{
    width: 100%;
    position: fixed;
}

.logo{
    width: auto;
    background-color: black;
    padding: 0.5rem;
    display: flex;
}

.logo .img-logo{
    width: 60px;
    margin-left: auto;
}

.img{
    width: 100%;
}
.card-accessori{
    text-align: center;
    align-items: center;
}

.img-lens{
    width: 25px;
}

.accessori{
    width: 10rem;
    border-radius: 10px;
}

.container-sm a{
color: black;
padding-right: 0.5rem;
}

.chevron{
    width: 10px;
}

.returnal{
    width: 50%;
}

.jumbo{
    margin-top: 5rem;
    padding-top: 15rem;
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    background-size: cover;
}

.game{
    background-color: rgb(31, 31, 31);
}

.ps-plus{
    background-color: rgb(190, 188, 187);
}

.text-jumbo{
    color: white;
}

.text-game{
    color: white;
}

.col-4{
    width: 50%;
}

.ittaketwo{
    padding-top: 15rem;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top center;
    background-size: cover;
}

.plus-button{
    border-radius: 50px;
    background-color: lightgray;
    color: blue;
    border: none;
    padding: 0.5rem;
}