*{
    font-family: Arial, Helvetica, sans-serif;
}

.barra-menu{
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}

.logo{
    width: auto;
    background-color: black;
    padding: 0.5rem;
    display: flex;
}

.logo .img-logo{
    width: 60px;
    margin-left: auto;
}

.img{
    width: 100%;
}

.img-social{
    width: 50%;
}

.card-accessori{
    text-align: center;
    align-items: center;
}

.img-lens{
    width: 25px;
}

.accessori{
    width: 10rem;
    border-radius: 10px;
}

.container-sm a{
color: black;
padding-right: 0.5rem;
}

.chevron{
    width: 10px;
}

.returnal{
    width: 50%;
}

.jumbo{
    margin-top: 5rem;
    padding-top: 15rem;
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    background-size: cover;
}

.game{
    background-color: rgb(31, 31, 31);
}

.ps-plus{
    background-color: rgb(190, 188, 187);
}

.ps-now{
    background-color: rgb(22, 28, 59);
    margin-top: 7rem;
}

.text-jumbo{
    color: white;
}

.text-game{
    color: white;
}

.col-4{
    width: 50%;
}

.ittaketwo{
    padding-top: 15rem;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: top center;
    background-size: cover;
}

.plus-button{
    border-radius: 50px;
    background-color: lightgray;
    color: blue;
    border: none;
    padding: 0.5rem;
}

.now-button{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem;
}

.button-margin{
    margin-bottom: 3rem;
}

.blu-bg{
    background-color: rgb(0, 67, 156);
}

.region{
    width: 5%;

}

.text-world{
    color: white;
    margin-top: 2rem;
}

.text-sony{
    margin: 0;
}

.info-text{
    margin-top: 1rem;
}